BD_PASSWORD=
BD_USER=
BD_PORT=
BD_HOST=
BD_NAME=

DATABASE_URL="postgresql://${BD_USER}:${BD_PASSWORD}@${BD_HOST}:${BD_PORT}/${BD_NAME}?schema=public"

GOOGLE_CLIENT_ID=


GOOGLE_CLIENT_SECRET=
AUTH_SECRET=

AUTH_URL=



  AUTH_DISCORD_ID=
   AUTH_DISCORD_SECRET=

    AUTH_GITHUB_ID=
   AUTH_GITHUB_SECRET=

      AUTH_GITLAB_ID=
   AUTH_GITLAB_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=